@import "tailwindcss";

/* Custom Portfolio Scrollbar */

html {
  scroll-behavior: smooth;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #66c61c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7ee33a;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #66c61c #09090b;
}